<!DOCTYPE html>
<html>
<title><?js= title ?></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="index.css">
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="header w3-display-top w3-padding-large w3-xlarge">
    <img class="logo" src="logo.png" alt="logo" />
  </div>
  <div id="docs" class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center">DOCS</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <?js= content ?>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    <a href="https://github.com/morko/haxroomie" target="_blank">GitHub</a>
  </div>
</div>

</body>
</html>
